$green: #1abc9c;
$yellow: #f1c40f;
$red: #c0392b;
$blue: #3498db;
$grey: #f2f2f2;
$gauge-level: 50%;

$primary-color: #ebf2f6;
$secondary-color: #212426;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $primary-color;
}

body {
  margin: 0;
}

Button {
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/* Game section */

/* Win */
.win {
  font-size: 10rem;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10%;
  background-color: rgba($secondary-color, 0.5);
}

/* Gauges */

.force-gauge {
  border: 2px solid white;
  border-radius: 15px;
  position: absolute;
  top: 10%;
  left: 5%;
  width: 50px;
  height: 300px;
  display: flex;
  align-items: flex-end;
  background-color: rgba($secondary-color, 0.1);
  box-shadow: 0 4px 8px rgba($secondary-color, 0.5);
  overflow: hidden;

  .force-bar {
    background: rgb(0, 255, 21);
    background: linear-gradient(to bottom, $red 0%, $yellow 50%, $green 100%);
    height: 100%;
    width: 100%;
    transition: height 0.3s ease-in-out;
    clip-path: polygon(
                    0 calc(100% - $gauge-level),
                    100% calc(100% - $gauge-level),
                    100% 100%,
                    0 100%
    );
    //animation: gauge-level 3s infinite linear;
  }
}

@keyframes gauge-level {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  50% {
    clip-path: polygon(
                    0 100%,
                    100% 100%,
                    100% 100%,
                    0 100%
    );
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

/* Score */

.score {
  font-size: 2rem;
  position: absolute;
  top: 5%;
  right: 5%;
  background: rgba($secondary-color, 0.5);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba($secondary-color, 0.5);
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  list-style: none;
}

/* Header */
.header {
  font-size: 1rem;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-shadow: 0 4px 8px rgba($secondary-color, 0.5);
}

/* Score board */
.score-board {
  max-width: 500px;
  margin: 30px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  background: rgba($secondary-color, 0.5);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba($secondary-color, 0.5);
  border: 2px solid white;

  h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;

    thead {
      background-color: transparent;

      th {
        font-weight: bold;
        padding-bottom: 10px;
        font-size: 18px;
        text-align: center;
      }
    }

    tbody {
      tr {
        background-color: white;
        transition: transform 0.3s ease;
        color: $secondary-color;

        td {
          padding: 12px 0;
          font-size: 16px;
          text-align: center;

          &:first-child {
            border-radius: 8px 0 0 8px;
          }

          &:last-child {
            border-radius: 0 8px 8px 0;
          }
        }
      }
    }
  }
}
